.paginator{
    margin: 10px 10% 0 10%;
    width: 80%;
    min-height: 50px;
}

.paginatorNum{
    text-align: center;
    float: left;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.paginatorNum.active{
    background-color: lightblue;
}